a {
	text-decoration: none;
}

ul { 
	list-style: none;
	font-family:'Bevan', cursive;
	color: #4A4A4A;
	align-content: center;
	text-align: center;
}

/* First Level */

ul.dropdown {
	border-radius: 5px;
	margin-left: 40%;
	margin-top: 20px;
}

ul.dropdown li {
	text-align: center;
	align-content: center;
	float: left;
	zoom: 1;
	background: #ccc;
}

ul.dropdown a:hover {
	color: #CCC;
}

ul.dropdown a:active {
	color: #ffa500;
}

ul.dropdown li a {
	display: block;
	padding: 4px 8px;
	border-right: 1px solid #333;
	color: #222;
}

ul.dropdown li:last-child a {
	border-right: none;
	margin-left: 0px;
}

ul.dropdown li:hover, ul.dropdown li.hover { 
	background: #CCC;
 	color: black;
 	position: relative;
}

ul.dropdown li.hover a {
 	color: black;
}

/* Second Level */

ul.dropdown ul {
	width: 220px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
}

ul.dropdown ul li {
	font-weight: normal;
	background: #f6f6f6;
	color: #000; 
	border-bottom: 1px solid #ccc;
	float: none; 
}

/* Third Level */

ul.dropdown ul ul {
	left: 75%;
	top: 0;
}

ul.dropdown li:hover > ul {
	visibility: visible;
	margin-left: 0px;
}