#cardheader {
	margin-top: 0px;
	font-family: 'Carter One', cursive;
	font-weight: 500;
	color: #49987F;
	letter-spacing: -1px;
	padding: 10px;
}

#backButton {
	background-color: #FFF;
	color: #3AAF85;
	position: absolute;
	top: 0;
	right: 0;
	font-family: 'Carter One', cursive;
	border-radius: 10px;
	margin-right: 90px;
	margin-top: 15px;
	border: .5px solid #3AAF85;
}

#backButton:hover {
	background: #CCC;
}

#everythingScore {
	margin-top: 60px;
}

.basic {
	font-family: 'Carter One', cursive;
	letter-spacing: -1px;
	color: #4A4A4A;
	text-align: center;
}

#everythingScore {
	margin-bottom: 25px;
	padding-bottom: 30px;
}

#scorecard {
	border: 1px solid #DDD;
	margin-top: 15px;
}

.card {
	width: 100%;
	text-align: center;
}

input[type="checkbox"]:checked {
	background-color: #3AAF85;
}

.green {
	width: 100%;
	text-align: center;
}

#message {
	font-family: 'Bevan', cursive;
	font-size: 14px;
	letter-spacing: -1px;
	color: #4A4A4A;
	text-align: center;
}

#cardkey {
	//margin-bottom: 67px;
	width: 100%;
	background-color: #DDD;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 60px;
	padding-top: 30px;
}

.keystyle {
	font-family:'Bevan', cursive;
	color: #4A4A4A;

}

.cardLI {
	font-size: 16px;
	letter-spacing: .5px;
	padding: 5px;
}