html, body {
	margin: 0px;
	padding: 0px;
}

#everything {
	width: 100%;
}

.header {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	margin-top: 0px;
	margin-left: 0;
	margin-bottom: 0px;
	background-color: #3AAF85;
}

.name {
	margin-top: 0px;
	font-family: 'Carter One', cursive;
	font-weight: 500;
	color: #FFFFFF;
	letter-spacing: -1px;
	padding: 10px;
}

#first_container {
	margin-top: 60px;
	bottom: 0;
	height: 770px;
	align-content: center;
	width: 100%;
	background-image: url(dunbar_001.jpg);
	background-repeat:no-repeat;
}

@media only screen and (min-width: 1800px) {
	#first_container {
		background-image: url(dunbar_imac_screen.jpg);
	}
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
	#first_container {
		background-image: url(dunbar_middle_screen.jpg);
	}
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	#first_container {
		background-image: url(dunbar_iphone_screen.jpg)  no-repeat center center fixed;
	}
}

#dunbar {
	margin-left: 0px;
}

.main {
	position: absolute;
	font-family: 'Bevan', cursive;
	font-weight: unset;
	font-size: 90px;
	letter-spacing: -1px;
	padding-top: 100px;
	padding-left: 60px;
	color: #FFFFFF;
}

#second_container {
	background-color: #3AAF85;
	margin-top: -70px;
	margin-left: 0px;
	height: 70px;
	margin-right: -2px;
	width: 100%;
}

.front_button {
	background-color: #3AAF85;
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 20px;
	padding-bottom: 47px;
	border: .5px solid #49987F;
	display: inline-block;
	color: #FFFFFF;
	font-size: 24px;
	font-family: 'Carter One', cursive;
	height: 30px;
	width: 33.33333333%;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
    float: left;
}

.front_button:hover {
	background-color: #49987F;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.front_button:active {
  background-color: #49987F;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#scroll {
	text-decoration: none;
	color: #FFF;
}

/*Popup Box Style*/

/* Overlay when Modal is open */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

#modal_trigger  {
    margin: 100px auto;
    width: 100px;
    display: block;
}
 
.btn  {
    padding: 10px 20px;
    background:  #F4F4F2;
    margin-bottom: 10px;
}
 
.btn_green  {
    background: #F4F4F2;
    color: #666;
    margin-bottom: 10px;
}
 
.btn:hover  {
    background:  #E4E4E2;
}
 
.btn_green:hover  {
    background:  #00FF94;
}
 
a.btn  {
    color: #666;
    text-align:  center;
    text-decoration:  none;
    margin-bottom: 10px;
    margin-left: 10px;
}
 
a.btn_green  {
    color: #666;
}
 
.one_half  {
    width: 50%;
    display:  block;
    float: left;
}
 
.one_half.last  {
    width: 45%;
    margin-left: 5%;
}

.popupHeader  {
    font-size: 16px;
    text-transform:  uppercase;
}
 
.popupHeader  {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}
 
.popupHeader .modal_close  {
    position:  absolute;
    right:  0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor:  pointer;
    color: #aaa;
    font-size: 16px;
}
 
.popupBody  {
    padding: 20px;
}
/* End Popup Box Style */

.third_container {
	background-color: #DDD;
	border-top: 1px solid #3AAF85;
	height: 375px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	margin-right: -2px;
	width: 100%;
}

.description {
	//font-family: 'Bevan', cursive;
	font-family: 'Carter One', cursive;
	font-weight: 500;
	letter-spacing: -1px;
	color: #4A4A4A;
	padding-top: 75px;
	text-align: center;
}

#about {
	text-decoration: none;
}

.title {
	font-family: 'Carter One', cursive;
	font-size: 20px;
	color: #4A4A4A;
	padding-top: 25px;
	text-align: center;
}

.subtitle {
	font-family: 'Carter One', cursive;
	color: #4A4A4A;
	font-size: 18px;
	padding-top: 10px;
	text-align: center;
}

.fourth_container > * {
	vertical-align: middle:
}

.fourth_container {
	margin-right: -2px;
	width: 100%;
}

.features {
	color: #4A4A4A;
	font-family: 'Carter One', cursive;
	padding-top: 20px;
	text-align: center;
}

#icons {
	text-align: center;
	align-content: center;
}

#track {
	font-family: 'Bevan';
	display: inline-block;
	height: 200px;
	width: 200px;
	font-size: 16px;
	padding: 5px;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
}

.stat {
	text-align: center;
	padding-top:8px;
}

#bottom {
	text-align: center;
	margin-bottom: 30px;
	padding-top: 20px;
	margin-top: 15px;
	margin-left: 40px;

}

.footer {
	margin-top:0px;
	margin-right: -2px;
	border-top: 1px solid #3AAF85;
	padding: 15px;
	bottom: 0;
	height: 60px;
	width: 100%;
	background-image: url("grass_background.jpg");
	text-align: right;
	font-family: 'Carter One', cursive;
	color: #FFF;
}

/* Home Page Specific Style */

#logoutButton {
	background-color: #FFF;
	color: #3AAF85;
	font-family: 'Carter One', cursive;
	border-radius: 10px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 15px;
	margin-top: 15px;
	border: .5px solid #3AAF85;
}

#logoutButton:hover {
	background: #CCC;
}

#top_container {
	margin-bottom: 20px;
	//border: solid 3px #DDD;
	background-color: white;
	//border-radius: 5px;
	padding-bottom: 20px;
	padding-top: 0px;
	//margin: 100px 20px 10px 20px;
	margin-top: 90px;
}

#quoteContainer {
	font-family: 'Bevan', cursive;
	font-size: 24px;
	color: #4A4A4A;
	padding:10px;
	margin:30px auto;
	text-align: center;
  	height:70px;

}

#quoteContainer p {
	font-family: 'Bevan', cursive;
	font-size: 24px;
	color: #4A4A4A;
	text-align: center;
}

#quoteGenius {
	font-style: italic;
	font-weight: 600;
	text-align: center;
	font-size: 20px;
	color: #4A4A4A;
	padding-bottom: 5px;
}

#buttonContainer {
	text-align: center;
	align-content: center;
	margin-top: 50px;
}

#quoteButton {
	display: inline-block;
	width: 40x;
	border-radius: 10px;
	background-color: #3AAF85;
	color: #FFF;
	font-family: Arial;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

#quoteButton:hover {
	background-color: #49987F;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#quoteButton:active {
  background-color: #49987F;
  box-shadow: 0 5px #49987F;
  transform: translateY(4px);
}

.welcome {
	font-family: 'Bevan', cursive;
	font-size: 48px;
	color: #4A4A4A;
	padding-top: 10px;
	text-align: center;
}

#subwelcome {
	font-family: 'Bevan', cursive;
	font-size: 44px;
	color: #4A4A4A;
	padding-top: 10px;
	text-align: center;
}

.middle_container {
	background-color: #DDD;
	text-align: center;
	padding-bottom: 20px;
}

#stats {
	height: 25%;
	text-align: center;
	align-content: center;
	padding-top: 5px;
	padding-bottom: 30px;
}

#per {
	font-family: 'Bevan', cursive;
	color: #4A4A4A;
}

#updateButton {
	text-align: center;
	maring-bottom: 10px;
	border-radius: 10px;
	background-color: #3AAF85;
	border: .5px solid #3AAF85;
	color: white;
	font-family: Arial;
	font-weight: bold;
	padding:5px;
}

#updateButton:hover {
	background-color: #49987F;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#updateButton:active {
  background-color: #49987F;
  box-shadow: 0 5px #49987F;
  transform: translateY(4px);
}

#updateButton:focus {
	outline:0;
}

.avg {
	display: inline-block;
	background: white;
	height: 200px;
	width: 200px;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
	font-family: 'Carter One', cursive;
	margin-left: 50px;
	margin-right: 25px;
	margin-top: 20px;
	padding: 10px;
	padding-bottom: 30px;
}

.avg > * {
	vertical-align: middle;
}

.number {
	font-family: 'Bevan';
	font-size: 45px;
	padding-top: 15px;
}

#course_choice {
	height: 200px;
	padding: 20px;
	text-align: center;
	align-content: center;
	margin-bottom: 70px;
}

#basic {
	font-family: 'Bevan', cursive;
	color: #4A4A4A;
}

/* Media Queries */
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}

img.largescreen {
	display: none;
}

@media only screen and (min-width: 1950px) {
	img {
		display: none;
	}
	img.largescreen {
		display: inline;
		margin-left: -40px;
		//margin-right: 50px;
		margin-top: 0px;
	}
}

img.smallscreen {
	display: none;
}

